<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Vue监测数据改变的原理_数组</title>
    <!-- 引入Vue -->
    <script src="../js/vue.js"></script>
  </head>
  <body>
    <!-- 准备好一个容器 -->
    <div id="root">
      <h1>学校信息</h1>
      <h2>学校名称：{{school.name}}</h2>
      <h2>学校地址：{{school.address}}</h2>
      <br>
      <h1>学生信息</h1>
      <h2>姓名：{{student.name}}</h2>
      <h2>年龄：{{student.age}}</h2>
      <h2 v-if="student.sex">性别：{{student.sex}}</h2>
      <h2>朋友们</h2>
      <ul>
        <li v-for="(f,index) in student.firends" :key="index">
          {{f.name}} - {{f.age}}
        </li>
      </ul>
    </div>

    <script type="text/javascript">
      Vue.config.productionTip = false; // 阻止 vue 在启动时生成生产提示

      const vm = new Vue({
        el: "#root",
        data: {
          school:{
            name: '尚硅谷',
            address: '北京',
          },
          student:{
            name: '张三',
            age:18,
            firends:[
              {name:'jerry',age:35},
              {name:'tony',age:36}
            ]
          }
        }
      })
    </script>
  </body>
</html>